*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');
body{
    background-image: url(https://media.istockphoto.com/id/1454707439/photo/scattered-question-marks-blocks-and-copy-space.webp?b=1&s=170667a&w=0&k=20&c=yIq5os34TiPkP73f4D1KwRWC_r86-vYe0ikuaWHv_OU=);
    /* background-image: url(istockphoto-1454707439-170667a.webp); */
    /* background: #e3edf7; */
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.main{    
width: 100%;
height: 100vh;
color: rgba(255, 255, 255, 0.768);
display: flex;
margin-left: 25px;
/* justify-content: center; */
align-items: center;
}
.title{
    color:rgb(32, 30, 70);
    margin: 10px;
    
}

#container{
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 40%;
    height: 400px;
    padding: 15px;
    box-shadow: 10px 10px 10px -1px #04364A,
                -10px -10px 10px -1px #76cff8;
    
    /* box-shadow: 5px 5px 15px rgb(24, 23, 23); */
    background: linear-gradient(50deg,#2fa4db,#04364A) ;
    
}
.row{
    width:100%;
    margin: 2rem;
    margin-left: 20px;
}
.btn{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    color: rgb(176, 176, 181);
    border: none;
    border-radius: 5px;
    background-color: #1F4172;
}

